html {    
    font-family: 'Montserrat', sans-serif;
} 
 
body {
    background-color: #F9F9FC;
}

.header {
    width: 100%;
    height: 100px;
    font-weight: 800;
    position: fixed;
    top: 0;
    background: #F9F9FC;
    box-shadow: 0px 1px 6px rgba(220, 219, 235, 0.9);
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    width: 1200px;
}

.cabinet:active {
    color: #535763;
}

.menu {
    display: flex; 
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.menu>nav a {
    color: #9BA2BC;
    margin: 0px 20px;
}

.menu>nav a:active {
    color: #535763;
}

.cabinet>img {
    margin: 0px 20px;
}

.exist-notification {  
    position: relative;
    display: inline-block;
}

.exist-notification::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3DB7FC;
    margin: 2px 0 0 -10px;
  }

.avatar {
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    overflow: hidden;
    width: 32px;
    height: 32px;
}

h1 {
    font-weight: 800;
    font-style: normal;
    font-size: 50px; 
    line-height: 60px;   
}
.content-wrapper {
    margin: 160px auto 0;
    width: 1200px;
}
.content-wrapper form {
    width: 1010px;
}

.form-title {
    margin-bottom: 60px;
    width: 50%;
    color: #535763;
}

.subtitle {
    color: #9BA2BC;
}

.content-wrapper .form-section {
    display: flex;
    padding: 50px 0;
}

.form-section:not(:last-child) {
    border-bottom: 1px solid #9BA2BC;
}

.section-content {
    flex: 1;
    padding: 0 90px 0 0px;
}

.section-content:nth-child(2) {
    padding: 0 0 0 90px;
}

input {
    border-radius: 12px;
    vertical-align: middle;
    padding-left: 20px;
    box-sizing: border-box;
}

.form-section input, .form-section select, .form-section textarea {
    border: 1px solid #C3C7D9;
    border-radius: 6px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.form-section input[required]:invalid, .form-section textarea[required]:invalid, select[required]:invalid  {
    border: 1px solid #ED7474;
}

.form-section input[required]:valid, .form-section textarea[required]:valid, select[required]:valid {
    border: 1px solid #42CF81;
}

label {
    padding-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

label.required::after {
    content: "*";
    padding-left: 5px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 1;
    background: url("../images/calendar.png") no-repeat;
    background-size: 20px 22px;
    width: 20px;
    height: 22px;
    margin-right: 10px;
}

.form-section textarea {
    height: 100px;
}

.upload-file {
    border: 1px dashed #C3C7D9;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border-radius: 8px;
    color: #535763;
    text-align: center;
    cursor: pointer;
    padding-left: 0;
    
}
.upload-icon {
    width: 15px;
    height: 17px;
    padding: 40px 15px 0 0;
}

#upload-file {
    margin-bottom: 0px;
    display: none;
}

.country, span.condition-for-upload {
    color: #9BA2BC;
    font-size: 14px;
    padding-left: 20px;
}

.form-section label, .form-section input {
    display: block;
}

input[type=range] {
    background-color: #6759FF;
    margin-bottom: 0px;
    cursor: pointer;
    padding-left: 0px;
}

#tickmarks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.user-agreements label, .user-agreements input {
    display: inline; 
    vertical-align: middle;
    margin: auto;
    width: 15px;
    height: 15px;
    font-size: 12px;
}

.user-agreements input {
    margin-right: 12px;
}

input[type="submit"] {
    background: #6759FF; 
    color: #F9F9FC;
    height: 50px;
    font-size: 20px;
    font-family: inherit;
    margin-top: 50px;
    margin-bottom: 25px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8B6EFE;
}

input[type="submit"]:active {
    background-color: #5528D6;
}

input[type="submit"]:disabled {
    background-color: #EDEFF7;
}

footer {
    background: #151A30;
    color:  #F9F9FC;
    font-size: 14px;
    margin: 40px auto 0;
    width: 100%;
}

.contact-data {
    margin: 0 auto;
    width: 1200px;
}

.contact-data>div {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    font-size: 14px;
}

.email-for-CV {
    color: yellow;
}

.social-links {
    padding: 5px 5px;
}  

.social-link  {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    margin-right: 10px;
}

.social-link:last-child  {
    margin-right: 0;
}

.instagram {
    background-image: url("../images/instagram.png");
}

.fb {
    background-image: url("../images/fb.png");
    background-size: 15px;
}

.telegram {
    background-image: url("../images/telegram.png");
    background-size: 20px;
}

.flags {
    width: 20px;
    height: 12px;
    margin-right: 12px;
}



.join-newsletter {
  padding-left: 10px;
}

